.pages {
  padding-top: 20px;
}

.page {
  width: 20px;
  padding: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
  background-color: #dfdfdf;
  text-align: center;
}

.page-active {
  background-color: #a3a3a3;
}