.slider {
  margin: 0 auto 10px;
  box-sizing: content-box;
}

.slider-bars {
  height: 25px;
  position: relative;
  right: 12px;
}

.slider-bar {
  height: 25px;
  position: absolute;
}

.slider-bar.transform {
  transform: rotateY(180deg);
}

.slider-bar.bottom {
  background-image: url(../img/inactive-bar.svg);
}

.slider-bar.active {
  background-image: url(../img/active-bar.svg);
  transform: translate(-12.5px);
}

.slider-labels {
  height: 20px;
  position: relative;
}

.slider-label {
  font-size: .7rem;
}

.slider-label.start,
.slider-label.end {
  position: absolute;
}

.slider-label.start {
  transform: translate(-40%);
}

.slider-label.end {
  transform: translate(60%);
}

.slider-label.max {
  float: left;
  margin-left: -10px;
}

.slider-label.min {
  float: right;
  margin-right: -10px;
}

.slider-labels-bottom {
  padding-top: 6px;
  padding-bottom: 10px;
}
