.avatar {
  width: 150px;
  height: 150px;
  margin: 2px;
  display: inline-block;
  background-color: lightgray;
  text-align: left;
}

.avatar img {
  width: 100px;
  height: 100px;
  margin: 25px;
  border: 1px dashed black;
  filter: grayscale(70%);
}

.avatar img:hover {
  filter: grayscale(0%);
}
